@import url(./__logo/header__logo.css);
.header {
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    ;
    padding-top: 40.6px;
    padding-bottom: 40.6px;
}

@media screen and (max-width: 500px) {
    .header {
        padding: 28px 0 32px;
    }
}