.popup__close {
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;  
}

.popup__close:hover {
    opacity: 0.6;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 500px) {  
    .popup__close {
        width: 11.6vw;
        height: 11.6vw;
        top: -9vw;
        right: -9vw;
    }
}